<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
       default-lazy-init="false">

    <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
        <property name="url" value="jdbc:h2:mem:test;MODE=mysql;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE"/>
        <property name="user" value="sa"/>
    </bean>

    <jdbc:initialize-database>
        <jdbc:script location="xml/db.sql"/>
    </jdbc:initialize-database>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="config" class="tk.mybatis.mapper.entity.Config">
        <property name="style" value="camelhump"/>
    </bean>

    <bean id="mapperHelper" class="tk.mybatis.mapper.mapperhelper.MapperHelper">
        <property name="config" ref="config"/>
    </bean>

    <bean id="mapperScannerConfigurer" class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="mapperHelper" ref="mapperHelper"/>
        <property name="basePackage" value="com.github.thinwonton.mybatis.metamodelgen.test.tkmapper.spring.mapper"/>
    </bean>

    <bean class="com.github.thinwonton.mybatis.metamodel.tkmapper.spring.MetaModelContextFactoryBean">
        <property name="mapperHelper" ref="mapperHelper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>